<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<div id='app'>
   <h1>Welcome to the Weather Planner</h1>
   Which city are you visiting?
   <br>
   <input v-model="city" placeholder="eg. Dublin"> <br><br>
   <button v-on:click="GetRand">Enter</button>
   <!-- <br> Latest Random Number is {{random}} -->

    <span v-if="history.length>0">
      <hr>
      <h1>{{random}}</h1>
      <h4>Temperature: {{temp}}</h4>

       <ul>
              <li v-for="num in history">{{num}}</li>
          </ul>
       
   </span>
</div>
<script>
   var app = new Vue({
      el: '#app',
      data: {
         city: "",
         temp:"",
         randMin: 'Enter City',
         randMax: 10,
         random: "",
         history: [],
         apiKey: '<YOUR_RAPIDAPI_KEY>'
      },
      methods: {
         GetRand: getWeather
         // fetchAPIData( ) { 
         // 
      }
   })

   function getWeather() {
      console.log("getWeather called")
      fetch('https://api.openweathermap.org/data/2.5/weather?q=' + this.city + '&appid=e7f17a2510bd22a016aa60b08254c474')
      

      .then(response => response.json())
         //.then(data => console.log(data.main.temp))
         .then(data => {
            var nameVal = data.name;
            var tempVal = data.main.temp;
            this.random = data.name
            this.temp = data.main.temp;

            

         })
         
            // .then(data => {
            //    var nameVal = data['city'];
            //    var tempVal = data['main']['temp']

            .catch(err => alert('Wrong City Name'))
             }
   
</script>